// main color palette
$beige: #F0BB78; // Light beige
$brown: #543A14; // Dark brown
$dark-gray: #1b1c1d; // Very dark gray (almost black)

// side color palette
$lightRed: #f7eded; // Lighter red for input field background
$red: #e31414; // Bright red
$green: #00A500; // Green
$gray: #969696; // Gray (light gray)
$darker-gray: #424242; // Darker gray
$white: #ffffff; // White