// Families
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

// Sizes
$font-size-small: 12px; // 0.75em
$font-size-medium: 14px; // 0.875em
$font-size-large: 18px; // 1.125em
$font-size-xlarge: 1.3em;
$font-size-xxlarge: 1.5em;
$font-size-xxxlarge: 2em;

// Weights
$font-weight-bold: bold;
$font-weight-bolder: bolder;