@use './breakpoints' as bp;

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: #{bp.$bp-sm}) { @content; }
  }
  @if $breakpoint == md {
    @media (max-width: #{bp.$bp-md}) { @content; }
  }
  @if $breakpoint == lg {
    @media (max-width: #{bp.$bp-lg}) { @content; }
  }
  @if $breakpoint == xl {
    @media (max-width: #{bp.$bp-xl}) { @content; }
  }
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-reset {
  background: none;
  border: none;
  cursor: pointer;
}
